


<div class="p-3 m-3 border border-danger bg-dark text-light">
    <div class="jumbotron">
        <h1>Hacker Finder </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-danger bg-dark text-light">
        Trying to hack into secure systems? You're in the right place... Find the ideal hacker for you!
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/hacker/secretID">
            Show list of Hackers:
              <input type="text" name="secretID" 
                     placeholder="e.g. 4ChanDude69">
            <input type="submit">
        </form>
        <br>
        
        <a href="/hacker/byInstHackers">List All Registered Instructors for Hacking</a>
        <br>
        <a href="/schedule/show">List All Registered Hackers</a>
        <br>
        <br>
        <img src = "images/hackerBoi.jpg" />
    <% } %>

</div>


